body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f9fa; 
}

nav {
    background-color: #003f5c;
    padding: 10px 0;
    color: white;
}

.nav-buttons button {
    margin-left: 20px;
    background-color: #ff6b6b; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-buttons button:hover {
    background-color: #ff5050; 
}

.budget-info {
    background-color: #003f5c; 
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.budget, .nav-buttons {
    margin: 0 10px; 



.company-section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.company-section th, .company-section td {
    padding: 12px;
}

.company-section th {
    background-color: #0056b3; 
    color: white;
    font-weight: bold;
}

.company-section td {
    background-color: white; 
}

input[type="number"] {
    width: 80%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#calculateButton, #finalizeButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#calculateButton:hover, #finalizeButton:hover {
    background-color: #0056b3; 
}

.company-logo {
    max-width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.company-section table {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}


