* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
}

form {
    width: 75vmin;
    height: auto;
    position: relative;
    padding: 40px 20px;
    background: linear-gradient(90deg, #4e54c8, #8f94fb);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 50px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 15px 10px;
    border: none;
    border-bottom: 1px solid #645979;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(90deg, #4e54c8, #8f94fb);
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list {
    width: calc(100% - 20px);
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    max-height: 200px;
    overflow-y: auto;
    transition: max-height 0.3s ease;
}

.list-items {
    padding: 10px 5px;
    transition: background-color 0.3s ease;
    color: #0a0a0a;
    background: linear-gradient(90deg, #63d471, #aaffa9);
    cursor: pointer;
}

.list-items:hover {
    background-color: #2c2f33;
}

.typewriter {
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end 1 normal forwards;
    color: #fff;
    font-size: 24px;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #000;
    color: #fff;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #333;
}

#priceGrowthImage,
#volumeGrowthImage {
    width: 100%;
    border: 5px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
